<html>
<head>
    <title>Memrise-Course</title>
    <link rel="stylesheet" type="text/css" href="../styles/course.css">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../styles/header.css"/>
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../extends/bootstrap/css/bootstrap.min.css">
</head>
<body class="memrise">
<!--header-->
<div class=" fixed-top header">
    <div class="container-wrapper navbar navbar-toggleable-md navbar-inverse no-padding-left no-padding-right">
        <a href="" class="logo navbar-brand">
           <span class="logo-wrapper">
               <span class="logo-section-1">EL</span>earning
           </span>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item header-nav-item">
                    <a class="nav-link" href="#">Trang chủ</a>
                </li>
                <li class="nav-item  header-nav-item active">
                    <a class="nav-link" href="#">Khóa học</a>
                </li>
                <li class="nav-item  header-nav-item">
                    <a class="nav-link" href="#">Nhóm</a>
                </li>
                <li class="nav-item  header-nav-item btn-register-pro">
                    <a class="nav-link" href="#">
                        <span class="icon-pro"></span>
                        <span> Đăng lý gói Pro</span>
                    </a>
                </li>
            </ul>
            <div class="avatar">
                <img src="../images/avatar.jpg" class="avatar-img rounded-circle img-responsive">
                <span class="toggle-icon"></span>
            </div

        </div>
    </div>
</div>
<div style="height: 50px"></div>
<div class="container-fluid">
    <div class="app">
        <div id="page-head"
             style="display: inline-table; flex-direction: row; width: 100%;justify-content: center; padding: 14px 0;">
            <div style="display: flex; flex-direction: row;justify-content: center; " class="container">
                <div style="display: flex; flex: 3.5; padding: 5px;">
                    <div style="display: flex; flex: 3; padding: 5px;">
                        <a>
                            <img class="course-image"
                                 src="https://d2rhekw5qr4gcj.cloudfront.net/img/400sqf/from/uploads/course_photos/2224242000150817093111.png">
                        </a>
                    </div>
                    <div style="display: flex; flex: 7; padding: 5px; flex-direction: column">
                        <div style="display: flex; flex:2; flex-direction: row; align-items: center">
                            <a href=""><span style="color: #fff; font-size: 14px; padding: 2px;">Khóa học</span></a>
                            <img style="width: 10px; height: 10px; padding: 2px"
                                 src="http://flaticons.net/icons/Application/Arrowhead-Right.png">
                            <a href=""><span style="color: #fff; font-size: 14px; padding: 2px;">Ngôn ngữ</span></a>
                        </div>
                        <div style="width: 100%; height: 1px; background-color: #B6B0B0"></div>
                        <div style="display: flex; flex:6; flex-direction: column;">
                            <div style="display: flex; align-items: center; flex: 2; padding: 5px;">
                                <span style="font-size: 28px; color: white;">600 Từ Cần Thiết Cho TOEIC</span>
                            </div>
                            <div style="display: flex; justify-content: center; flex: 3; padding: 5px;">
                                        <span style="color: #fff">Learn the first 400 words that have helped other students to succeed in the TOEFL exam. Memrise makes these words stick to your mind instantly, and it makes sure that you really memorise them so that you can use them with confidence.
                                        </span>
                            </div>
                        </div>
                        <div style="display: flex; justify-content: center; flex: 2;padding: 5px">
                            <a class="btn btn-success btn-large" style="width: 200px; color: #fff"
                               href="https://www.memrise.com/course/754466/400-words-of-toefl-intermediate-english/">Bắt
                                đầu học</a>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex: 1.5; padding: 5px;"></div>
            </div>
        </div>
        <div class="content">
            <div style="background-color: #fff; margin-bottom: 10px !important; height: 60px;">
                <div class="container">
                    <div style="display: flex; align-content: center; height: 60px">
                        <a class="tab" href="#"><img src="http://www.iconsdb.com/icons/preview/white/book-xxl.png"
                                                     height="20px" width="20px" style="margin-right: 5px ">20 Bài</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div style="display: flex; flex-direction: row;">
                    <div style="display: flex; flex-direction: column; flex: 5;">
                        <div class="progress-box">
                            <div style="display: flex; flex:3; width: 100%;">
                                <div style="display: flex; flex:8; align-content: center">
                                    <span class="progress-box-title">5 / 398 words learned (0 in long term memory)</span>
                                </div>
                                <div style="display: flex; flex:2; align-content: center; flex-direction: row-reverse">
                                    <span class="progress-box-title">0 ignored</span>
                                </div>
                            </div>
                            <div style="display: flex; flex:2; width: 100%; padding: 10px 0px; align-items: center; justify-content: center">
                                <div class="progress" style="height: 10px ; width: 100%">
                                    <div class="bar bar-success" style="width: 5%"></div>
                                </div>
                            </div>
                            <div style="display: flex; flex:5; width: 100%;; align-items: center; padding: 5px 0px">
                                <div style="display: flex; flex:4; align-items: center;">
                                    <div class="btn-option">
                                        <div class="dropdown">
                                            <button class="button dropdown-toggle" type="button" id="dropdownMenuButton"
                                                    data-toggle="dropdown"><img
                                                    src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-down-01-512.png"
                                                    height="20px" width="20px" style="margin-right: 5px ">Tùy chọn
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#" data-role="course-unenroll"><span
                                                        class="ico icon-stop"></span> Thoát khóa học</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div style="display: flex; flex:7"></div>
                            </div>

                        </div>
                        <div class="topic-box">
                            <a class="item-lesson" href="#">
                                <div class="level-index">1</div>
                                <div class="level-inside">
                                    <i class="level-ico level-icon-s level-ico-seed"></i>
                                    <div class="level-status">
                                        <div class="progress">
                                            <div class="bar bar-success" style="width: 50%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="level-title">Contract</div>
                            </a>
                            <a class="item-lesson" href="#">
                                <div class="level-index">1</div>
                                <div class="level-inside">
                                    <i class="level-ico level-icon-s level-ico-plant-inactive"></i>
                                    <div class="level-status">
                                        Học ngay
                                    </div>
                                </div>
                                <div class="level-title">Contract</div>
                            </a>
                            <a class="item-lesson" href="#">
                                <div class="level-index">1</div>
                                <div class="level-inside">
                                    <i class="level-ico level-icon-s level-ico-plant-inactive"></i>
                                    <div class="level-status">
                                        Học ngay
                                    </div>
                                </div>
                                <div class="level-title">Contract</div>
                            </a>
                            <a class="item-lesson" href="#">
                                <div class="level-index">1</div>
                                <div class="level-inside">
                                    <i class="level-ico level-icon-s level-ico-plant-inactive"></i>
                                    <div class="level-status">
                                        Học ngay
                                    </div>
                                </div>
                                <div class="level-title">Contract</div>
                            </a>
                            <a class="item-lesson" href="#">
                                <div class="level-index">1</div>
                                <div class="level-inside">
                                    <i class="level-ico level-icon-s level-ico-plant-inactive"></i>
                                    <div class="level-status">
                                        Học ngay
                                    </div>
                                </div>
                                <div class="level-title">Contract</div>
                            </a>
                            <a class="item-lesson" href="#">
                                <div class="level-index">1</div>
                                <div class="level-inside">
                                    <i class="level-ico level-icon-s level-ico-plant-inactive"></i>
                                    <div class="level-status">
                                        Học ngay
                                    </div>
                                </div>
                                <div class="level-title">Contract</div>
                            </a>
                            <a class="item-lesson" href="#">
                                <div class="level-index">1</div>
                                <div class="level-inside">
                                    <i class="level-ico level-icon-s level-ico-plant-inactive"></i>
                                    <div class="level-status">
                                        Học ngay
                                    </div>
                                </div>
                                <div class="level-title">Contract</div>
                            </a>
                            <a class="item-lesson" href="#">
                                <div class="level-index">1</div>
                                <div class="level-inside">
                                    <i class="level-ico level-icon-s level-ico-plant-inactive"></i>
                                    <div class="level-status">
                                        Học ngay
                                    </div>
                                </div>
                                <div class="level-title">Contract</div>
                            </a>
                            <a class="item-lesson" href="#">
                                <div class="level-index">1</div>
                                <div class="level-inside">
                                    <i class="level-ico level-icon-s level-ico-plant-inactive"></i>
                                    <div class="level-status">
                                        Học ngay
                                    </div>
                                </div>
                                <div class="level-title">Contract</div>
                            </a>
                            <a class="item-lesson" href="#">
                                <div class="level-index">1</div>
                                <div class="level-inside">
                                    <i class="level-ico level-icon-s level-ico-plant-inactive"></i>
                                    <div class="level-status">
                                        Học ngay
                                    </div>
                                </div>
                                <div class="level-title">Contract</div>
                            </a>
                            <a class="item-lesson" href="#">
                                <div class="level-index">1</div>
                                <div class="level-inside">
                                    <i class="level-ico level-icon-s level-ico-plant-inactive"></i>
                                    <div class="level-status">
                                        Học ngay
                                    </div>
                                </div>
                                <div class="level-title">Contract</div>
                            </a>
                            <a class="item-lesson" href="#">
                                <div class="level-index">1</div>
                                <div class="level-inside">
                                    <i class="level-ico level-icon-s level-ico-plant-inactive"></i>
                                    <div class="level-status">
                                        Học ngay
                                    </div>
                                </div>
                                <div class="level-title">Contract</div>
                            </a><a class="item-lesson" href="#">
                            <div class="level-index">1</div>
                            <div class="level-inside">
                                <i class="level-ico level-icon-s level-ico-plant-inactive"></i>
                                <div class="level-status">
                                    Học ngay
                                </div>
                            </div>
                            <div class="level-title">Contract</div>
                        </a>
                            <a class="item-lesson" href="#">
                                <div class="level-index">1</div>
                                <div class="level-inside">
                                    <i class="level-ico level-icon-s level-ico-plant-inactive"></i>
                                    <div class="level-status">
                                        Học ngay
                                    </div>
                                </div>
                                <div class="level-title">Contract</div>
                            </a>


                        </div>
                    </div>
                    <div style="display: flex;flex: 1.5">
                        <div style="display: block">
                            <div class="leader-board">
                                <div class="leader-board-header">
                                    <!-- <span class="leader-board-image"></span> -->
                                    <img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/blue-jelly-icons-sports-hobbies/043273-blue-jelly-icon-sports-hobbies-cup-trophy.png"
                                         style="vertical-align: top;width: 26px;height: 21px;margin-right: 8px;">
                                    <span class="leaderboard-title">Leaderboard</span>
                                </div>
                                <div class="leaderboard-content">
                                    <ul class="leaderboard-rows">
                                        <li class="leaderboard-row dropdown">
                                               <span class="row-pic">
                                                    <img class="pic"
                                                         src="https://d2rhekw5qr4gcj.cloudfront.net/accounts/img/placeholders/avatar-2.png">
                                               </span>
                                            <span class="row-username">
                                                   <strong>1.</strong>
                                                   <span class="dropdown-toggle"
                                                         id="dropdownCardUser" data-toggle="dropdown"
                                                         aria-expanded="false">Daizee</span>
                                                 <div class="dropdown-menu rightMenu"
                                                      aria-labelledby="dropdownCardUser">
                                                     <div style="height: 100px; width: 280px">
                                                         <span class="tail">
                                                         </span>
                                                         <div class="left-card">
                                                             <a href="#" class="white-box pic-wrapper">
                                                                 <img src="https://d2rhekw5qr4gcj.cloudfront.net/img/100sqf/from/uploads/profiles/Memstart_170919_1446_18.jpg"
                                                                      height="80px">
                                                                 <img src="https://d2rhekw5qr4gcj.cloudfront.net/img/icons/ranks/ziggy_13.svg"
                                                                      class="rank-icon">
                                                             </a>
                                                         </div>
                                                         <div class="right-card">
                                                             <div class="name-field">
                                                                 <a class="the-username" href="#">Daizee</a>
                                                             </div>
                                                             <div class="user-point">10000 points</div>
                                                         </div>
                                                     </div>
                                                </div>
                                            </span>
                                            <span class="row-points">
                                                   <span class="top-rank">99999</span>
                                               </span>
                                        </li>
                                        <li class="leaderboard-row">
                                                <span class="row-pic">
                                                     <img class="pic"
                                                          src="https://d2rhekw5qr4gcj.cloudfront.net/accounts/img/placeholders/avatar-2.png">
                                                </span>
                                            <span class="row-username">
                                                    <strong>2.</strong>
                                                    <span>Daizee</span>
                                                </span>
                                            <span class="row-points">
                                                    <span>99999</span>
                                                </span>
                                        </li>
                                        <li class="leaderboard-row">
                                                    <span class="row-pic">
                                                         <img class="pic"
                                                              src="https://d2rhekw5qr4gcj.cloudfront.net/accounts/img/placeholders/avatar-2.png">
                                                    </span>
                                            <span class="row-username">
                                                        <strong>3.</strong>
                                                        <span>Daizee</span>
                                                    </span>
                                            <span class="row-points">
                                                        <span>99999</span>
                                                    </span>
                                        </li>
                                        <li class="leaderboard-row">
                                               <span class="row-pic">
                                                    <img class="pic"
                                                         src="https://d2rhekw5qr4gcj.cloudfront.net/accounts/img/placeholders/avatar-2.png">
                                               </span>
                                            <span class="row-username">
                                                   <strong>4.</strong>
                                                   <span>Daizee</span>
                                               </span>
                                            <span class="row-points">
                                                   <span>99999</span>
                                               </span>
                                        </li>
                                        <li class="leaderboard-row">
                                                <span class="row-pic">
                                                     <img class="pic"
                                                          src="https://d2rhekw5qr4gcj.cloudfront.net/accounts/img/placeholders/avatar-2.png">
                                                </span>
                                            <span class="row-username">
                                                    <strong>5.</strong>
                                                    <span>Daizee</span>
                                                </span>
                                            <span class="row-points">
                                                    <span>99999</span>
                                                </span>
                                        </li>
                                        <li class="leaderboard-row">
                                               <span class="row-pic">
                                                    <img class="pic"
                                                         src="https://d2rhekw5qr4gcj.cloudfront.net/accounts/img/placeholders/avatar-2.png">
                                               </span>
                                            <span class="row-username">
                                                   <strong>6.</strong>
                                                   <span>Daizee</span>
                                               </span>
                                            <span class="row-points">
                                                   <span>99999</span>
                                               </span>
                                        </li>
                                        <li class="leaderboard-row">
                                               <span class="row-pic">
                                                    <img class="pic"
                                                         src="https://d2rhekw5qr4gcj.cloudfront.net/accounts/img/placeholders/avatar-2.png">
                                               </span>
                                            <span class="row-username">
                                                   <strong>7.</strong>
                                                   <span>Daizee</span>
                                               </span>
                                            <span class="row-points">
                                                   <span>99999</span>
                                               </span>
                                        </li>
                                        <li class="leaderboard-row">
                                               <span class="row-pic">
                                                    <img class="pic"
                                                         src="https://d2rhekw5qr4gcj.cloudfront.net/accounts/img/placeholders/avatar-2.png">
                                               </span>
                                            <span class="row-username">
                                                   <strong>8.</strong>
                                                   <span>Daizee</span>
                                               </span>
                                            <span class="row-points">
                                                   <span>99999</span>
                                               </span>
                                        </li>
                                        <li class="leaderboard-row">
                                               <span class="row-pic">
                                                    <img class="pic"
                                                         src="https://d2rhekw5qr4gcj.cloudfront.net/accounts/img/placeholders/avatar-2.png">
                                               </span>
                                            <span class="row-username">
                                                   <strong>9.</strong>
                                                   <span>Daizee</span>
                                               </span>
                                            <span class="row-points">
                                                   <span>99999</span>
                                               </span>
                                        </li>
                                        <li class="leaderboard-row current">
                                               <span class="row-pic">
                                                    <img class="pic"
                                                         src="https://d2rhekw5qr4gcj.cloudfront.net/accounts/img/placeholders/avatar-2.png">
                                               </span>
                                            <span class="row-username">
                                                   <strong>10.</strong>
                                                   <span>Daizee</span>
                                               </span>
                                            <span class="row-points">
                                                   <span>99999</span>
                                               </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="leaderboard-link">
                                    <a href="#">More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<div class="footer">
    <div class="container-wrapper footer-row">
        <div class="row">
            <div class="col-lg-3 col-sm-12 text-center">
                <div class="logo-footer">
                    <a href="">
                        <img src="../images/memrise-logo-footer.png" class="img-fluid">
                    </a>
                </div>

                <div class="social-btn">
                    <a href="" class="facebook-btn">
                        <img src="../images/facebook-icon.png" class="rounded">
                    </a>
                    <a href="" class="twitter-btn">
                        <img src="../images/twitter-icon.png" class="rounded">
                    </a>
                    <a href="" class="instagram-btn">
                        <img src="../images/instagram-icon.png" class="rounded">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <h4>MEMRISE</h4>
                <ul class="list-item">
                    <li>
                        <a href="">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="">Khoa học</a>
                    </li>
                    <li>
                        <a href="">Liên hệ</a>
                    </li>
                    <li>
                        <a href="">Đội ngũ</a>
                    </li>

                    <li>
                        <a href="">Cơ hội việc làm</a>
                    </li>
                    <li>
                        <a href="">Press</a>
                    </li>
                    <li>
                        <a href="">Điều khoản sử dụng</a>
                    </li>
                    <li>
                        <a href="">Chính sách bảo mật</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-12">
                <h4>MORE</h4>
                <ul class="list-item">
                    <li>
                        <a href="">Blog</a>
                    </li>
                    <li>
                        <a href="">Diễn đàn</a>
                    </li>
                    <li>
                        <a href="">Giáo viên</a>
                    </li>
                    <li>
                        <a href="">Membus</a>
                    </li>
                </ul>

                <h4 style="margin-top: 10px;">MORE</h4>
                <ul class="list-item">
                    <li>
                        <a href="">Câu hỏi thường gặp & Trợ giúp</a>
                    </li>
                </ul>


            </div>
            <div class="col-lg-3 col-sm-12">
                <h4>MORE</h4>
                <ul class="list-item">
                    <li>
                        <a href="">Ngoại ngữ</a>
                    </li>
                    <li>
                        <a href="">Nghệ thuật & Văn học</a>
                    </li>
                    <li>
                        <a href="">Toán học & Khóa học</a>
                    </li>
                    <li>
                        <a href="">Thế giới Tự nhiên</a>
                    </li>
                    <li>
                        <a href="">Lịch sử & Địa lý</a>
                    </li>
                    <li>
                        <a href="">Chuyên môn & Nghề nghiệp</a>
                    </li>
                    <li>
                        <a href="">Giải trí</a>
                    </li>
                    <li>
                        <a href="">Khoa học thường thức</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<script src="../extends/jquery/jquery-3.2.1.slim.min.js"></script>
<script src="../extends/jquery/popper.min.js"></script>
<script src="../extends/tether/tether.min.js"></script>
<script src="../extends/bootstrap/js/bootstrap.min.js"></script>

<script src="../js/skip-vocabulary.js"></script>
</div>

</body>
</html>