<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elearning online</title>
    <link rel="stylesheet" href="../extends/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/header.css"/>
    <link rel="stylesheet" href="../styles/lession-detail.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>
<body class="body-lession">
<!--header-->
<div class=" fixed-top header">
    <div class="container-wrapper navbar navbar-toggleable-md navbar-inverse no-padding-left no-padding-right">
        <a href="" class="logo navbar-brand">
           <span class="logo-wrapper">
               <span class="logo-section-1">mem</span>rise
           </span>

        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item header-nav-item active">
                    <a class="nav-link" href="#">Trang chủ</a>
                </li>
                <li class="nav-item  header-nav-item">
                    <a class="nav-link" href="#">Khóa học</a>
                </li>
                <li class="nav-item  header-nav-item">
                    <a class="nav-link" href="#">Nhóm</a>
                </li>
                <li class="nav-item  header-nav-item btn-register-pro">
                    <a class="nav-link" href="#">
                        <span class="icon-pro"></span>
                        <span> Đăng lý gói Pro</span>
                    </a>
                </li>
            </ul>
            <div class="avatar">
                <img src="../images/avatar.jpg" class="avatar-img rounded-circle img-responsive">
                <span class="toggle-icon"></span>
            </div>

        </div>
    </div>

</div>

<!--body-->
<div class="title-course">
    <div class="container-wrapper ">
        <div class="lession">
            <div class="introduce-lession">
                <a href="" class="img-lession">
                    <img src="../images/lession-img.png" class="img-responsive">
                </a>
                <div class="title-lession">
                    <a href=""><span>400 Words of TOEFL - Intermediate English</span></a>
                </div>
            </div>
            <div class="more-info">
                <a href="">
                    <img src="../images/logo-short.png" class="logo-short img-responsive">
                </a>
                <div class="text-more-info">
                    <h5>Created by</h5>
                    <a href="">Memrise</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overview">
    <div class="container-wrapper ">
        <div class="wrapper">
            <a href="" class="difficult-level">
                <span class="icon-difficult-level"></span>
                Độ khó (20)
            </a>
            <a href="" class="difficult-level">
                <span class="icon-difficult-word"></span>
                Từ khó
            </a>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-wrapper ">
        <div class="progress-lession">
            <a href="" class="level-progress level-left">
                <span class=" arrow arrow-left"></span>
                <span class="level-name">Cấp độ 1</span>
            </a>
            <div class="progress-detail">
                <div class="progress-box">
                    <div class="level-icon">
                        <div class="level-name">Cấp độ 2</div>
                        <div class="icon"></div>
                    </div>
                    <div class="level-info">
                        <h3>Maths and Computing</h3>
                        <div class="progress-level"></div>
                        <hr>
                        <div class="level-action">
                            <div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-option dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <span class="dropdown-text">Tùy chọn</span>&nbsp;
                                        <span class="arrow arrow-down"></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">
                                            <span class="arrow icon-dropdown"></span>
                                            Xem nháp
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <a href="" class="button learn-vocabulary">Học những từ này </a>
                            </div>

                        </div>
                    </div>


                </div>

                <div class="number-vocabulary">
                    <span>20 từ</span>
                    <span>0 bỏ qua</span>
                </div>

                <div class="list-vocabulary">
                    <div class="action-learn">
                        <span class="state-learned"><i class="arrow icon-learned"></i> Học</span>
                        <span class="state-review"><i class="arrow icon-review"></i> Ôn tập</span>
                        <a class="button btn-skip float-right" data-toggle="collapse" href="#collapseExample"
                           aria-expanded="false"
                           aria-controls="collapseExample" id="btn-skip">
                            <span class="arrow icon-skip"></span> Bỏ qua
                        </a>
                        <div class="clearfix"></div>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-block">
                                <h2>Bỏ qua từ</h2>
                                <p>Chọn các ô dưới đây để bỏ qua / giữ lại từ, rồi chọn nút Lưu phía dưới. Những từ bị
                                    bỏ qua sẽ không xuất hiện trong tiết học nào nữa.</p>
                                <div class="action-card">
                                    <button type="button" class="btn-select select-all">Chọn hết</button>
                                    <button type="button" class="btn-select unselect-all">Bỏ chọn</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item-vocabulary">
                        <div class="vocabulary">exponentially</div>
                        <div class="meaning">at a very fast rate</div>
                        <div class="state-vocabulary">
                            <span class="arrow icon-learned"></span>
                            <input type="checkbox" class="hide">
                        </div>
                    </div>

                    <div class="item-vocabulary">
                        <div class="vocabulary">a denominator</div>
                        <div class="meaning">the number written below the line in a fraction</div>
                        <div class="state-vocabulary">
                            <span class="arrow icon-learned"></span>
                            <input type="checkbox" class="hide">
                        </div>
                    </div>

                    <div class="item-vocabulary">
                        <div class="vocabulary">to maximize</div>
                        <div class="meaning">to increase to the maximum</div>
                        <div class="state-vocabulary">
                            <span class="arrow icon-learned block"></span>
                            <input type="checkbox" class="hide">
                        </div>
                    </div>

                    <div class="item-vocabulary">
                        <div class="vocabulary">innovative</div>
                        <div class="meaning">new and creative</div>
                        <div class="state-vocabulary">
                            <span class="arrow icon-learned"></span>
                            <input type="checkbox" class="hide">
                        </div>
                    </div>

                    <div class="item-vocabulary">
                        <div class="vocabulary">to adjust</div>
                        <div class="meaning">to change a small amount</div>
                        <div class="state-vocabulary">
                            <span class="arrow icon-learned"></span>
                            <input type="checkbox" class="hide">
                        </div>
                    </div>

                    <div class="item-vocabulary">
                        <div class="vocabulary">to derive</div>
                        <div class="meaning">to come from</div>
                        <div class="state-vocabulary">
                            <span class="arrow icon-learned"></span>
                            <input type="checkbox" class="hide">
                        </div>
                    </div>

                    <div class="item-vocabulary">
                        <div class="vocabulary">arbitrary</div>
                        <div class="meaning">chosen for no specific reason</div>
                        <div class="state-vocabulary">
                            <span class="arrow icon-learned"></span>
                            <input type="checkbox" class="hide">
                        </div>
                    </div>

                    <div class="item-vocabulary">
                        <div class="vocabulary">maintenance</div>
                        <div class="meaning">the process of keeping something in good condition</div>
                        <div class="state-vocabulary">
                            <span class="arrow icon-learned"></span>
                            <input type="checkbox" class="hide">
                        </div>
                    </div>

                    <div class="item-vocabulary">
                        <div class="vocabulary">infinitesimal</div>
                        <div class="meaning">infinitely small</div>
                        <div class="state-vocabulary">
                            <span class="arrow icon-learned"></span>
                            <input type="checkbox" class="hide">
                        </div>
                    </div>

                    <div class="item-vocabulary">
                        <div class="vocabulary">parallel</div>
                        <div class="meaning">being an equal distance apart everywhere</div>
                        <div class="state-vocabulary">
                            <span class="arrow icon-learned"></span>
                            <input type="checkbox" class="hide">
                        </div>
                    </div>

                    <div class="item-vocabulary">
                        <div class="vocabulary">a proportion</div>
                        <div class="meaning">a section of a whole</div>
                        <div class="state-vocabulary">
                            <span class="arrow icon-learned"></span>
                            <input type="checkbox" class="hide">
                        </div>
                    </div>

                    <div class="item-vocabulary">
                        <div class="vocabulary">a rate</div>
                        <div class="meaning">the amount of change per unit of time</div>
                        <div class="state-vocabulary">
                            <span class="arrow icon-learned"></span>
                            <input type="checkbox" class="hide">
                        </div>
                    </div>

                    <div class="item-vocabulary">
                        <div class="vocabulary">a rate</div>
                        <div class="meaning">the amount of change per unit of time</div>
                        <div class="state-vocabulary">
                            <span class="arrow icon-learned"></span>
                            <input type="checkbox" class="hide">
                        </div>
                    </div>
                </div>
            </div>
            <a href="" class="level-progress level-right">
                <span class="level-name">Cấp độ 3</span>
                <span class=" arrow arrow-right"></span>
            </a>
        </div>


    </div>
</div>

<!--footer-->
<div class="footer">
    <div class="container-wrapper footer-row">
        <div class="row">
            <div class="col-lg-3 col-sm-12 text-center">
                <div class="logo-footer">
                    <a href="">
                        <img src="../images/memrise-logo-footer.png" class="img-fluid">
                    </a>
                </div>

                <div class="social-btn">
                    <a href="" class="facebook-btn">
                        <img src="../images/facebook-icon.png" class="rounded">
                    </a>
                    <a href="" class="twitter-btn">
                        <img src="../images/twitter-icon.png" class="rounded">
                    </a>
                    <a href="" class="instagram-btn">
                        <img src="../images/instagram-icon.png" class="rounded">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <h4>MEMRISE</h4>
                <ul class="list-item">
                    <li>
                        <a href="">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="">Khoa học</a>
                    </li>
                    <li>
                        <a href="">Liên hệ</a>
                    </li>
                    <li>
                        <a href="">Đội ngũ</a>
                    </li>

                    <li>
                        <a href="">Cơ hội việc làm</a>
                    </li>
                    <li>
                        <a href="">Press</a>
                    </li>
                    <li>
                        <a href="">Điều khoản sử dụng</a>
                    </li>
                    <li>
                        <a href="">Chính sách bảo mật</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-12">
                <h4>MORE</h4>
                <ul class="list-item">
                    <li>
                        <a href="">Blog</a>
                    </li>
                    <li>
                        <a href="">Diễn đàn</a>
                    </li>
                    <li>
                        <a href="">Giáo viên</a>
                    </li>
                    <li>
                        <a href="">Membus</a>
                    </li>
                </ul>

                <h4 style="margin-top: 10px;">MORE</h4>
                <ul class="list-item">
                    <li>
                        <a href="">Câu hỏi thường gặp & Trợ giúp</a>
                    </li>
                </ul>


            </div>
            <div class="col-lg-3 col-sm-12">
                <h4>MORE</h4>
                <ul class="list-item">
                    <li>
                        <a href="">Ngoại ngữ</a>
                    </li>
                    <li>
                        <a href="">Nghệ thuật & Văn học</a>
                    </li>
                    <li>
                        <a href="">Toán học & Khóa học</a>
                    </li>
                    <li>
                        <a href="">Thế giới Tự nhiên</a>
                    </li>
                     <li>
                        <a href="">Lịch sử & Địa lý</a>
                    </li>
                     <li>
                        <a href="">Chuyên môn & Nghề nghiệp</a>
                    </li>
                     <li>
                        <a href="">Giải trí</a>
                    </li>
                     <li>
                        <a href="">Khoa học thường thức</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<script src="../extends/jquery/jquery-3.2.1.slim.min.js"></script>
<script src="../extends/jquery/popper.min.js"></script>
<script src="../extends/tether/tether.min.js"></script>
<script src="../extends/bootstrap/js/bootstrap.min.js"></script>

<script src="../js/skip-vocabulary.js"></script>
</body>
</html>