<html lang="en">
    <head>
        <title>Memrise-Login</title>
        <link rel="stylesheet" type="text/css" href="css/common.css">
        <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    </head>
    <body class="memrise">
        <div class="app">
            <div class="header">
                <div class="header-row">
                    <div style="display: flex; flex-direction: row; height: 100%;">
                        <div style="display: flex; flex: 1; align-items: center">
                            <div class="header-logo-wrapper">
                            <span class="text-style-1">EL</span>earning
                            </div>
                        </div>
                        <div style="display: flex; flex: 1;">
                                <div style="display: flex; flex: 1;align-items: center;justify-content: center; height: 100%">
                                  <span  class="nav-item">
                                      Khóa học
                                  </span>
                                </div>
                                <div style="display: flex; flex: 1;align-items: center;justify-content: center; height: 100%">
                                    <span class="nav-item nav-item-active">
                                       Đăng nhập
                                    </span>
                                </div>
                                <div style="display: flex; flex: 1;align-items: center;justify-content: center; height: 100%">
                                    <span class="nav-item nav-item-register">
                                       Đăng kí
                                    </span>
                                </div>
                                <div style="display: flex; flex: 0.5;align-items: center;justify-content: center; height: 100%">
                                    <img  class="avata" src="https://cdn1.iconfinder.com/data/icons/rounded-flat-country-flag-collection-1/2000/vn-01.png" alt="">
                                    <img class="drop-down-arrow" src="http://www.iconsdb.com/icons/preview/white/arrow-217-xxl.png"></img>
                                </div>     
                        </div>
                    </div>
                </div>
            </div>
            <div class="login">
                <div class="login-box">

                </div>
            </div>
        </div>
    </body>
</html>